//Colors
$primary-color:  #213F7D;
$secondary-color: #39CDCC;
$primary-lighter: #ddecf3;
$text-muted-color: #545F7D;
$white: #fff;

//nav-link
$active-nav:$primary-color;
$nav-bottom-border: rgba(172, 239, 229, 0.6);

$dropdown-border: 0.5px solid #01C38E;

$bg-light-green: #eefffc;
$bg-grey: #FBFBFE;
$bg-grey2: #f4f4f4;

$hr-divider: #DEDEDE;

$bg-light-amber: #ffe8c7;
$amber-text: #f19100;


$form-border: #979797;
$form-bg:#F8F8F8;
//font-size
$sm-font-size: 0.8rem;
$xx-font-size: 1rem;